/* .maincontainer{
    width: 100%;
    height: 100%;
    
}
.container{
    width: 100%;
    height: 100%;
    background-color: springgreen;
    display: flex;
    gap: 20px
    
    ;
}
.left{
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}
.lefttop{
    background-color: violet;
    height:100%;
    width:100%;
}
.topcontainer{
    width: 100%;
    height: 100%;

}
    
}
.leftbottom{
    
    color: white;
    height:100%;
    width:100%;
    object-fit:cover;
    
}
.bottomcontainer{
    background-color: black;
    color: white;
}
.right{
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background-color: brown;
}
.contact-picture-img{
    height:100%;
    width:100%;
    object-fit:cover
} */
@media only screen and (max-width: 20%) {
    body {
      background-color: lightblue;
    }
}
body{
    background-color: hsl(0, 0%, 81%);
    
}
.Main_Container{
    width: 100%;
    height: 100%;
    padding-top: 40px;
    display: flex;
    justify-content: center; 
     
}

.container{
    width: 85%;
    height: 85%;
    display: grid;
    gap: 20px;
    grid-template-rows: repeat(2 );
    grid-template-columns: repeat(4 );
    grid-template-areas: 
    "one one two three"
    "four five five three"
}
.container img{
    border-radius: 50px ;
}
.container1 {
    grid-area: one;
    background-color: rgb(43, 122, 226);
    color: white;
    border-radius: 10px;
    padding: 10px;
    
}
.container2 {
    grid-area: two;
    background-color: hsl(12, 19%, 35%);
    color: white;
    border-radius: 10px;
    padding: 10px;
    
}
.container3 {
    grid-area: three;
    background-color: wheat;
    color: black;
    border-radius: 10px;
    padding: 10px;
    
}
.container4 {
    grid-area: four;
    background-color:rgb(185, 216, 48);
    color: black;
    border-radius: 10px;
    padding: 10px;
    
}
.container4 a{   
    color: blue;
}
.container5 {
    grid-area: five;
    background-color: hsl(219, 29%, 14%);
    color: white;
    border-radius: 10px;
    padding: 10px;
    display: grid;
    justify-content: center;
}
.bottom{
    display: grid;
    justify-content: center;
    align-items: center;
}
span{
    font-weight: bold;
}
h1{
    font-size: 120%;
    font-weight: bold;
}
.top{ display:flex;
    line-height: 20px;
justify-content: center;
gap: 20px}
a{
    color: gold;
}
nav{
    padding-left: 8%;
    padding-top: 20px;
}
nav button{
    width:80px;
    height: 30px;
   
}
